<body>
    <div class="splash">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin" autocomplete="{{ f.cbSavePass.value ? 'on' : 'off' }}">
            <div class="splash-login">
                <div class="text-center py-4">
                    <a href="/" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo"> <img src="https://static.cpau.org/web/images/logo/cpau.svg" class="logo" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /> </a>
                </div>
                <br>
                <div class="form-label-group form-group">
                    <input required [ngClass]="{ 'is-invalid': submitted && f.username.errors }" type="text" formControlName="username" class="form-control" placeholder="Usuario">
                    <label for="UserName"><i class="fa fa-user"></i> Usuario:</label>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">El usuario es requerido</div>
                    </div>
                </div>
                <div class="form-label-group form-group">
                    <input required [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" formControlName="password" class="form-control" placeholder="Password">
                    <label for="Password"><i class="fa fa-lock"></i> Clave: </label>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Su clave es requerida</div>
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label>
                            <input formControlName="cbSavePass" type="checkbox" value="remember-me">
                            Recordar mis datos </label>
                </div>
                <button type="submit" [disabled]="loading" class="btn btn-login">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    LOGIN
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <!--Modal: Error Paswoord o Contraseña-->

                <!-- Modal:Datos Incorrectos -->
                <div class="modal fade" id="DatosIncorrectos" tabindex="-1" role="dialog" aria-labelledby="DatosIncorrectosLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DatosIncorrectosLabel">LOGIN</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </div>
                            <div class="modal-body">
                                Los datos que completaste son incorrectos.<br><br>
                                Recordá que el usuario no es tu correo electrónico, sino te lo acordás, cliqueá sobre el botón "¿Olvidaste tus datos?"
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver a intentar</button>
                                <div class="btn btn-primary">
                                    <a style="color: white; font-weight:normal; text-decoration: none;" data-dismiss="modal" [routerLink]="['/recover']" target="_self" title="¿Olvidaste tus datos?">¿Olvidaste tus datos?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4 text-center">
                    <a class="" [routerLink]="['/recover']" target="_self" title="¿Olvidaste tus datos?">¿Olvidaste tus datos?</a> &nbsp;| &nbsp;
                    <a class="" [routerLink]="['/preregistrar']" target="_self" title="Registrate">Registrate</a>
                </div>
            </div>
        </form>

        <div class="my-2 text-center text-white">
            <a class="terminos" data-toggle="modal" data-target="#terminos" href="">T&eacute;rminos</a> &nbsp;| &nbsp;
            <a class="terminos" data-toggle="modal" data-target="#normativa" href="">Privacidad</a> &nbsp;| &nbsp;
            <a class="terminos" data-toggle="modal" data-target="#ayuda" href="">Ayuda</a>
            <a id="btnDatosIncorrectos" class="hide" data-toggle="modal" data-target="#DatosIncorrectos" href=""></a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="terminosTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="terminosTitle">T&eacute;rminos y condiciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <p>Condiciones generales de servicios provistos por el CPAU.<br /><br />
                            <strong>1. Aceptaci&oacute;n de los t&eacute;rminos</strong><br />
                            Proporcionamos los servicios de: (i) CPAU MAIL, (ii) REGISTRO DE ENCOMIENDA EN LINEA, de acuerdo con las
                            siguientes condiciones de servicio (CDS), las que podr&aacute;n ser actualizadas sin previa notificaci&oacute;n.<br /><br />
                            Pod&eacute;s conocer la versi&oacute;n m&aacute;s reciente de las CDS en cualquier momento en:
                            <a href="http://www.cpau.org">http://www.cpau.org</a><br />
                            <br />
                            <strong>2. Descripci&oacute;n de los servicios</strong><br />
                            Te proporcionamos acceso a los servicios denominados CPAU MAIL y REGISTRO DE ENCOMIENDA EN LINEA. Nuestras
                            comunicaciones pueden incluir publicidades, avisos administrativos y otro tipo de mensajes que quedan entendidos
                            y aceptados en estas CDS.<br /><br />
                            Se entiende y acepta tambi&eacute;n que los servicios se ofrecen en las condiciones proporcionadas, con sus virtudes
                            y defectos, y que desde el CPAU no asumimos ninguna responsabilidad por el retraso, oportunidad en tiempo,
                            eliminaci&oacute;n, entrega equivocada o falla, cualquiera sea la causa, inclusive culpa por parte del CPAU.<br /><br />
                            Es tu responsabilidad y compromiso a acceder y leer atentamente la descripci&oacute;n de los servicios y/o manuales
                            de uso en los siguientes links:<br />
                        </p>
                        <ul>
                                <li>CPAU MAIL: <a href="http://webmail.cpaumail.com">http://webmail.cpaumail.com</a></li>
                                <li>REGISTRO DE ENCOMIENDA EN LINEA: <a href="http://retp.cpau.org">http://retp.cpau.org</a>&nbsp;</li>
                        </ul><br />
                        <p>
                            <strong>3. Obligaciones del usuario</strong><br />
                            Al utilizar estos servicios, te compromet&eacute;s a:<br />
                            (a) Proveer informaci&oacute;n verdadera, correcta, actualizada, y completa de tu persona del modo requerido en el
                            formulario de inscripci&oacute;n de los servicios (&quot;Datos de Inscripci&oacute;n&quot;);<br />
                            (b) Mantener y r&aacute;pidamente actualizar estos datos de inscripci&oacute;n a fin de que se mantengan verdaderos,
                            correctos, actualizados y completos.<br />
                            <br />
                            <strong>4. Normativa de confidencialidad de CPAU</strong><br />
                            Tus datos de inscripci&oacute;n y cierta otra informaci&oacute;n se encuentran sujetos a nuestra normativa de confidencialidad,
                            la cual se encuentra disponible en <a href="http://www.cpau.org">http://www.cpau.org</a> y que forma parte
                            de las CDS.<br />
                            <br />
                            <strong>5. Cuenta de usuario, contrase&ntilde;a y seguridad</strong><br />
                            Se te asignar&aacute; una contrase&ntilde;a y una cuenta una vez completado el proceso de inscripci&oacute;n de los servicios. Es tu
                            responsabilidad mantener la confidencialidad de tu contrase&ntilde;a y cuenta, y de todas las actividades que se
                            efect&uacute;en bajo esas contrase&ntilde;a y cuenta.<br /><br />
                            Es tu obligaci&oacute;n:<br />
                            (a) Notificarnos de forma fehaciente e inmediata de cualquier uso no autorizado de tu contrase&ntilde;a o cuenta o de
                            cualquier otra falla de seguridad;<br />
                            (b) Asegurarte de que la cuenta sea cerrada al final de cada sesi&oacute;n. No somos responsables en el CPAU de ninguna
                            p&eacute;rdida o da&ntilde;o que resulte como consecuencia del incumplimiento de las disposiciones de esta secci&oacute;n 5.<br />
                            <br />
                            <strong>6. Contenido</strong><br />
                            Toda la informaci&oacute;n que circule a trav&eacute;s de tu cuenta de correo, como datos, planos, proyectos u otros materiales
                            e informaci&oacute;n que incluya tu p&aacute;gina web, etc. (denominado como &quot;contenido&quot;), es responsabilidad &uacute;nicamente de la
                            persona que origin&oacute; ese contenido. Esto significa que es tu responsabilidad exclusiva todo el contenido que
                            cargues (&quot;upload&quot;), transmitas o exhibas a trav&eacute;s de los servicios, de la forma que sea que lo hagas.<br /><br />
                            Bajo ninguna circunstancia y en ninguna forma somos responsables de ning&uacute;n contenido que incluya y no se limite
                            a errores u omisiones o de alguna p&eacute;rdida o da&ntilde;o de cualquier tipo que resulte del uso de alg&uacute;n contenido
                            anunciado, enviado por correo electr&oacute;nico, exhibido en la p&aacute;gina web o de alguna otra forma transmitido por
                            medio de los servicios.<br />
                            <br />
                            <strong>7. Conducta del usuario</strong><br />
                            Te compromet&eacute;s a no usar los servicios para:<br />
                            (a) Cargar (&quot;upload&quot;) o transmitir de cualquier forma alg&uacute;n contenido que no tiene derecho a transmitir por ley
                            o por relaci&oacute;n contractual o fiduciaria (tal como informaci&oacute;n interna, de propiedad y confidencial adquirida o
                            entregada como parte de las relaciones de empleo o bajo contratos de confidencialidad);<br />
                            (b) Cargar (&quot;upload&quot;) o transmitir de cualquier forma alg&uacute;n contenido que viole alguna patente, marca, secreto
                            comercial, derechos de autor&iacute;a o de propiedad (&quot;Derechos&quot;) de alguna parte;<br />
                            (c) Cargar (&quot;upload&quot;) o de cualquier otra forma transmitir alg&uacute;n material que contenga virus de software, o
                            cualquier otro c&oacute;digo de computadora, archivos o programas dise&ntilde;ados para interrumpir, destruir o limitar el
                            funcionamiento de alg&uacute;n software o disco duro de computadora o equipo de telecomunicaciones;<br />
                            (d) Interferir o interrumpir los servicios, servidores, o redes conectadas a los servicios, o desobedecer
                            cualquier requisito, procedimiento, pol&iacute;tica o regulaci&oacute;n de redes conectadas a los servicios;<br />
                            (e) Generar o facilitar correos electr&oacute;nicos comerciales no solicitados (&quot;spam&quot;);<br />
                            (f) Enviar, subir, distribuir, divulgar contenido ilegal, difamatorio, abusivo, obsceno o que pueda ser
                            considerado objetable por distintos motivos;<br />
                            (g) Utilizar alguno de los servicios en relaci&oacute;n con el uso compartido de archivos ilegal de igual a igual;<br />
                            Tambi&eacute;n por este medio acept&aacute;s:<br />
                            (h) Que desde el CPAU no efectuamos verificaciones en el contenido, pero que las personas que designamos tienen
                            a su discreci&oacute;n el derecho, pero no la obligaci&oacute;n, de rechazar o remover cualquier contenido que est&eacute; disponible
                            por medio de los servicios. Sin limitaci&oacute;n de lo anterior, tenemos el derecho de remover cualquier contenido que
                            viole las CDS o sea de cualquier otra forma objetable.<br />
                            (i) Usted acepta que el CPAU puede conservar y revelar el Contenido si as&iacute; le es requerido por ley o si en buena
                            fe cree que dicha reserva o revelaci&oacute;n es absolutamente necesaria para:<br />
                            &nbsp;&nbsp;(1) Cumplir con procesos legales;<br />
                            &nbsp;&nbsp;(2) Hacer valer las CDS;<br />
                            &nbsp;&nbsp;(3) Responder a quejas de que alg&uacute;n contenido viola los derechos de terceras personas; o<br />
                            &nbsp;&nbsp;(4) Proteger los derechos, propiedad, o seguridad personal del CPAU, las personas que componen nuestra matr&iacute;cula
                            y el p&uacute;blico en general.<br />
                            <br />
                            <strong>8. Prohibici&oacute;n de revender los servicios y de ceder su uso</strong><br />
                            Te compromet&eacute;s a no reproducir, duplicar, copiar, vender, revender o explotar por cualquier prop&oacute;sito comercial,
                            ninguna parte de los servicios, ceder el uso de los servicios, o permitir de cualquier forma el acceso a los
                            servicios a terceras personas no autorizadas a tales fines.<br />
                            <br />
                            <strong>9. Pr&aacute;cticas generales acerca del uso y retenci&oacute;n</strong><br />
                            Acept&aacute;s:<br />
                            (a) Que podemos establecer pr&aacute;cticas generales y limitaciones con respecto al uso de los servicios, incluyendo,
                            sin ning&uacute;n l&iacute;mite, el espacio asignado para correos electr&oacute;nicos y la carga de contenidos a cada usuario/a, el
                            n&uacute;mero m&aacute;ximo de veces (y la m&aacute;xima duraci&oacute;n de tales) a las que podr&aacute;s tener acceso a los servicios en un
                            per&iacute;odo dado de tiempo, modificaciones en tu interfaz, etc.<br />
                            (b) Que no tenemos responsabilidad u obligaci&oacute;n legal por la protecci&oacute;n y guarda de cualquier contenido
                            mantenido o transmitido por los servicios.<br />
                            (c) Que nos reservamos el derecho de retirar cuentas que est&eacute;n inactivas por un per&iacute;odo prolongado de tiempo.<br />
                            <br />
                            <strong>10. Modificaciones a los servicios</strong><br />
                            Nos reservamos el derecho de modificar o interrumpir los servicios o cualquier parte de ellos, temporal o
                            permanentemente, parcial o totalmente, en cualquier momento y peri&oacute;dicamente, con o sin previa notificaci&oacute;n.
                            Acord&aacute;s que no somos responsables hacia vos o hacia terceras partes por ninguna modificaci&oacute;n, suspensi&oacute;n, o
                            interrupci&oacute;n de los servicios.<br /><br />
                            Acept&aacute;s que si suspendemos total o parcialmente los servicios no tendr&aacute;s derecho a indemnizaci&oacute;n alguna, por lo
                            que asum&iacute;s expresamente la obligaci&oacute;n de guardar toda aquella informaci&oacute;n de tu propiedad o de terceras personas
                            que pudiera tener alg&uacute;n tipo de valor (&ldquo;backups&rdquo;).<br />
                            <br />
                            <strong>11. Terminaci&oacute;n</strong><br />
                            Acord&aacute;s, a tu plena discreci&oacute;n:<br />
                            (a) Que podemos cancelar tu contrase&ntilde;a, cuenta (o alguna parte de ella) o el uso de los servicios, total o
                            parcialmente, y retirar y eliminar cualquier contenido dentro de los servicios por cualquier raz&oacute;n, incluyendo,
                            sin limitaci&oacute;n, la falta de uso o si consideramos que est&aacute;s violando o actuando de manera inconsistente con el
                            texto o el esp&iacute;ritu de las CDS. Tambi&eacute;n podremos, con absoluta discreci&oacute;n y en cualquier momento, interrumpir
                            los servicios o alguna parte de ellos, con o sin previa notificaci&oacute;n.<br />
                            (b) Que cualquier terminaci&oacute;n del acceso a los servicios bajo alguna provisi&oacute;n de estas CDS puede ser efectuada
                            sin notificaci&oacute;n previa, y acept&aacute;s que podemos desactivar o borrar inmediatamente tu cuenta y toda la informaci&oacute;n
                            y archivos relacionados con ella as&iacute; como prohibir cualquier nuevo acceso a esos archivos o a los servicios.<br />
                            (c) Que no somos responsables hacia vos o hacia una tercera parte por cualquier terminaci&oacute;n de tu acceso a los
                            servicios.<br />
                            <br />
                            <strong>12. Derechos de propiedad de CPAU</strong><br />
                            Acept&aacute;s y acord&aacute;s que los servicios y cualquier software necesario usado en conexi&oacute;n con los servicios
                            (&quot;Software&quot;) contiene bienes e informaci&oacute;n confidencial que se encuentran protegidos por las leyes
                            vigentes de propiedad intelectual y de otra naturaleza.<br /><br />
                            Te otorgamos un derecho de uso, no transferible, y no exclusivo para el software; siempre y cuando vos u otra
                            persona, con tu ayuda, no copien, modifiquen, hagan una obra derivativa, hagan ingenier&iacute;a reversiva o de
                            cualquier otra forma transfieran alg&uacute;n derecho en el software.<br /><br />
                            Y te copromet&eacute;s:<br />
                            (a) A no modificar de ninguna manera el software o a usar versiones modificadas del software, que incluya sin
                            limitarse al prop&oacute;sito de obtener acceso no autorizado a los servicios.<br />
                            (b) A no acceder a los servicios por ning&uacute;n otro medio que no sea la zona interfacial provista por el CPAU para
                            uso de entrada a cualquiera de los servicios.<br />
                            <br />
                            <strong>13. L&iacute;mite de responsabilidad</strong><br />
                            Comprend&eacute;s y acord&aacute;s expresamente que no somos responsables por ning&uacute;n da&ntilde;o directo, indirecto o de cualquier
                            otro tipo que incluya sin limitaciones, da&ntilde;os por p&eacute;rdida de ganancia, buena fe, uso, datos u otras p&eacute;rdidas
                            intangibles (aun cuando se nos haya advertido de la posibilidad de estos da&ntilde;os),como resultado de:<br />
                            (a) El uso o imposibilidad de usar los servicios;<br />
                            (b) El costo de obtenci&oacute;n de bienes sustituibles y servicios resultantes de cualquier bien, dato, informaci&oacute;n
                            o servicio *adquirido u obtenido o<br />
                            (c) Cualquier otro asunto relacionado a los servicios.<br />
                            <br />
                            <strong>14. Informaci&oacute;n general</strong><br />
                            Las CDS, los datos de Inscripci&oacute;n y las Normas de Confidencialidad constituyen el convenio completo entre el
                            CPAU y vos respecto del uso de los servicios.<br /><br />
                            Esta relaci&oacute;n, derivada de la utilizaci&oacute;n de los servicios, ser&aacute; regida por las leyes de la Rep&uacute;blica
                            Argentina. Acordamos, tanto vos como el CPAU, expresamente someternos a la jurisdicci&oacute;n exclusiva de los
                            Juzgados Nacionales en lo Comercial sitos en la Ciudad Aut&oacute;noma de Buenos Aires, renunciando a cualquier otro
                            fuero o jurisdicci&oacute;n que pudiera corresponder.<br />
                            <br />
                            <strong>15. Consultas acerca de los servicios</strong><br />
                            Ante cualquier consulta que no pudiera ser evacuada mediante la lectura del Manual de Uso o ante cualquier
                            inconveniente en el uso de los servicios, pod&eacute;s llamarnos de lunes a viernes de 9.30 a 17 horas, reserv&aacute;ndonos
                            el derecho a modificar este horario sin previa notificaci&oacute;n.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal:fin -->

        <!-- Modal -->
        <div class="modal fade" id="normativa" tabindex="-1" role="dialog" aria-labelledby="normativaTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="normativaTitle">Normativa de confidencialidad y privacidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <p>Haremos los mejores esfuerzos para brindarte la confidencialidad de nuestros servicios en l&iacute;nea.<br />
                            <br />
                            Te pedimos que leas el documento para conocer el tratamiento que le damos a tu informaci&oacute;n personal y profesional cuando us&aacute;s nuestros servicios.<br /><br />
                            Obtenemos informaci&oacute;n de usuarios/as que sirve para utilizar ciertos servicios que te brindamos.<br /> <br />
                            La informaci&oacute;n solicitada puede incluir pero no limitarse a los siguientes datos: nombre, matr&iacute;cula, CUIT, CUIL, denominaci&oacute;n social,
                            tel&eacute;fono/fax, direcci&oacute;n, localidad, provincia, correo electr&oacute;nico, tipo y nro. de documento, cargo, mail de contacto, mail alternativo.<br /><br />
                            No vendemos ni proporcionamos a terceras personas informaci&oacute;n personal de nuestra matr&iacute;cula.<br /><br />
                            Solamente compartiremos la informaci&oacute;n personal que nos proporcionaste cuando:</p>
                        <ul>
                            <li>Nos autorices a hacerlo.</li>
                            <li>Necesitemos compartirla para poder ofrecerte un servicio que nos has solicitado.&nbsp;</li>
                            <li>Necesitemos proveer informaci&oacute;n a terceras personas que presten determinados servicios al CPAU (a fin de que puedan ser provistos ciertos servicios).&nbsp;</li>
                            <li>Nos veamos en la obligaci&oacute;n de brindar informaci&oacute;n en virtud de una orden judicial o a pedido de una autoridad competente.&nbsp;</li>
                        </ul>
                        <p><br />
                            Desde el CPAU te permitimos modificar y/o eliminar la informaci&oacute;n brindada. Para ello, deber&aacute;s enviar un mail a la direcci&oacute;n
                            <a class="ApplyClass" href="mailto:servicios@cpau.org">servicios@cpau.org</a> o ingresar en <a href="http://www.cpau.org">www.cpau.org</a>.<br />
                            <br />
                            La informaci&oacute;n personal y las cuentas est&aacute;n protegidas por contrase&ntilde;as provistas por cada usuario/a. Sobre ellas, cada persona es responsable.<br /> <br />
                            En ciertas &aacute;reas, protegemos la transmisi&oacute;n de los datos personales con la tecnolog&iacute;a SSL (Secure Sockets Layer o Capa Segura de Contactos)
                            y los almacenamos en un formato codificado (encriptado).<br />
                            <br />
                            Ocasionalmente, podemos modificar esta normativa por lo que deber&aacute;s ingresar de tanto en tanto al link “Normativa de Confidencialidad” para obtener la versi&oacute;n actualizada.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal:fin -->

        <!-- Modal -->
        <div class="modal fade" id="ayuda" tabindex="-1" role="dialog" aria-labelledby="ayudaTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ayudaTitle">Ayuda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <p>El asesoramiento telef&oacute;nico es exclusivo para la matr&iacute;cula <strong>Activa o Vitalicia CPAU</strong>.</p>
                        <ul>
                            <li>Tel&eacute;fonos: 5239-9418 / 26 / 28</li>
                            <br>
                            <li>Correo Electr&oacute;nico: retp@cpau.org</li>
                            <br>
                            <li>Horario de Consultas: 09:00 a 17:00 horas. </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal:fin -->

    </div>
</body>
