<div class="form">
    <div class="container p-5">
        <!--Fila Logo-->
        <div class="row bk6 p-4 shadow" style="border-top: 4px solid #000;">
            <!--Columna Logo-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                    <figure><img src="../../stylesCustom/images/logo/cpau.svg" width="35%;" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                </a>
            </div>
            <!--Columna Logo: fin-->
        </div>
        <!--Fila Logo: fin-->
        <div class="row bk6 p-4 shadow">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                <div>
                    <h6 class="border-bottom title-sections pb-1"><a href="#" title="ENCUESTA">ENCUESTA</a></h6>
                    <h1 class="pt-2 pb-2"> Titulo de la encuesta</h1>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                        desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
                        igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
                        versiones de Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="row bk6 shadow ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                <div class="col-12 col-sm-12 col-md-8 offset-md-2">
                    <div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1"><h6>Mail</h6></label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><h6>Pregunta 1</h6></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><h6>Pregunta 2</h6></label>
                            <select class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><h6>Observaciones</h6></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-login" onclick="location.href='login.html';">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <!--COPYRIGHT-->
            <div class="row shadow pt-3 bk6">
                <div class="col-sm pt-3" style="background-color:#C8C3C3; text-align: center;font-size:11px; font-weight: 700 ">
                    <p>© CPAU | Consejo Profesional de Arquitectura y Urbanismo - 25 de Mayo 482 - (C1002ABJ) CABA - Tel: +54 (11) 5239.9401 - Atención: Lunes a Viernes de 9 a 17 horas.</p>
                </div>
            </div>
            <!--FIN COPYRIGHT-->
            <!--FIN PIE-->
        </footer>
    </div>
</div>