<header>
    <!--Fila Logo-->
    <div class="row">
        <!--Columna Logo-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 celda-logo">
            <a [routerLink]="['/']" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                <figure><img src="https://static.cpau.org/.newsite/images/logo/cpau.svg" width="310" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
            </a>
        </div>
        <!--Columna Logo: fin-->

        <!--Columna Redes-->
        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 pr-0 redes-header">
            <ul class="redes">
                <li><a href="https://www.instagram.com/cpauorg" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/cpauorg" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/cpau-consejo-profesional-de-arquitectura-y-urbanismo" target="_blank" title="Linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://www.twitter.com/cpauorg" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.pinterest.com/cpauorg" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
                <li><a href="http://www.flickr.com/cpauorg" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                <li><a href="http://www.vimeo.com/cpauorg" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
            </ul>
        </div>
        <!--Columna Redes:fin-->

        <!--Columna Login-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-1 col-xl-1 button-login">
            <button type="button" class="btn btn-login" (click)="authentication()">{{lblAuthentication}}</button>
        </div>
        <!--Columna Login:fin-->
    </div>
    <!--Fila Logo: fin-->
</header>