<h6 class="border-bottom title-sections pb-1"><a [routerLink]="['/agenda']" target="_self" title="{{data?.breadCrumb}}">{{data?.breadCrumb}}</a></h6>
<div class="container p-0 pt-2 pb-5">

    <!--Articles-->
    <section>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 posts ">
                <ul class="list-unstyled">
                    <li *ngFor="let item of data.childLists" class="post">
                        <article>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <a *ngIf="item.link.includes('http') || item.link.includes('www')" class="caplik" href="{{item.link}}">
                                        <h4>{{item.name}}</h4>
                                    </a>
                                    <a *ngIf="!item.link.includes('http') && !item.link.includes('www')" class="caplik" [routerLink]="['/', item.link]">
                                        <h4>{{item.name}}</h4>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--Articles:fin-->

</div>