<body>
  <!--CONTENEDOR-->
  <div class="container pt-4">
    <app-header-home></app-header-home>
    <app-button-home></app-button-home>
    <main>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h6 class="border-bottom title-sections pb-1">
              <a href="#" target="_self" title="PRE-REGISTRACIÓN"
                >PRE-REGISTRACIÓN</a
              >
            </h6>
            <div class="container p-0 pt-2 pb-5">
              <!--Nota-->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-7 offset-md-2">
                  <h1 class="my-3">Pre-registración</h1>
                  <form *ngIf="!success" [formGroup]="formregister" (ngSubmit)="onSubmit()">
                    <div class="col"></div>
                    <!-- DATOS DE MATRICULA-->
                    <div class="form-label-group">
                      <div class="form-label-group pb-4 mb-4 border-bottom">
                        <input
                          id="txtEmail"
                          name="txtEmail"
                          formControlName="txtEmail"
                          class="form-control rounded-0"
                          placeholder="Correo electrónico:"
                          required
                          maxlength="100"
                        />
                        <div class="error-message"
                        *ngIf="
                        formregister.controls.txtEmail?.errors &&
                          (formregister.controls.txtEmail?.dirty ||
                          formregister.controls.txtEmail?.touched)
                        "
                      >
                        <div *ngIf="formregister.controls.txtEmail?.errors.required">Debe ingresar un email para registrarse.</div>
                        <div *ngIf="formregister.controls.txtEmail?.errors.email">El formato del email es invalido.</div>
                        <div *ngIf="formregister.controls.txtEmail?.errors.maxlength">La longitud del email no puede superar los 100 caracteres.</div>
                      </div>
                      </div>
                    </div>
                    <div class="captcha">
                      <re-captcha (resolved)="resolved($event)"
                          formControlName="captcha"
                          siteKey="6LeK_qIZAAAAAHHxNXAPji20tBXobWD-B5WDihF7">
                      </re-captcha>
                      <div class="error-message"
                      *ngIf="
                      formregister.controls.captcha?.errors &&
                        (formregister.controls.captcha?.dirty ||
                        formregister.controls.captcha?.touched)
                      "
                    >
                    <div >Debe validar el captcha para continuar el proceso de registro.</div>
                  </div>
                  </div>
                    <button
                      type="submit"
                      class="btn btn-login"
                      data-toggle="modal"
                    >
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"
                      ></span>
                      {{ loading ? "CARGANDO..." : "REGISTRESE" }}
                    </button>
                  </form>
                  <div *ngIf="success">
                    <!-- TODO: Mensaje a mostrar  -->
                    <h3 class="mensaje-success">Se completo la validación.</h3>
                    <button
                    class="btn btn-login" routerLink="/"
                  >
                    CONTINUAR
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="datosIncorrectos" tabindex="-1" role="dialog" aria-labelledby="DatosIncorrectosLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DatosIncorrectosLabel">REGISTRACIÓN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body" *ngIf="modalErrorMessage == 'error.user.exist'"> 

                      Tu correo electrónico ya se encuentra registrado. Realizá el recupero de clave haciendo clic <a href="https://www.cpau.org/Content/institucional/recover">acá</a>.
                      <br><br>
                      Si aún persiste el problema, por favor contactate a web@cpau.org   

                    </div>
                    <div class="modal-body" *ngIf="modalErrorMessage != 'error.user.exist'"> {{ modalErrorMessage  }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
      </main>
    <app-publicity-home></app-publicity-home>
    <app-footer></app-footer>
  </div>
  <!--CONTENEDOR: FIN	-->
</body>
