<h6 *ngIf="breadCrumb?.length == 1" class="border-bottom title-sections pb-1">
    <a *ngFor="let bc of breadCrumb" target="_self" [routerLink]="['/', bc.link]" title="{{bc.name}}">{{bc.name}}
    </a>
</h6>

<nav aria-label="breadcrumb" *ngIf="breadCrumb?.length > 1">
    <ol class="breadcrumb">
        <li *ngFor="let bc of breadCrumb; let last = last;" 
            class="{{last ? 'breadcrumb-item active' : 'breadcrumb-item'}}" 
            title="{{bc.name}}">
            <a *ngIf="bc.link != ''" [routerLink]="['/', bc.link]">{{bc.name}}</a>
            <span *ngIf="bc.link == ''">{{bc.name}}</span>
        </li>
    </ol>
</nav>

<div *ngIf="data; else loadingBlockNews" class="container p-0 pt-2 pb-5">

    <!--Articles-->
    <section>
        <div class="row">
            <input type="radio" id="todos" name="categories" value="todos" checked>
            <input type="radio" id="{{currentTag}}" name="categories" value="{{currentTag}}" *ngFor="let currentTag of data.tags">
            <input type="radio" id="hoy" name="categories" value="hoy">
            <input type="radio" id="semana" name="categories" value="semana">
            <input type="radio" id="mes" name="categories" value="mes">
            <input type="radio" id="ano" name="categories" value="ano">

            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 flitrosagenda">
                <ol>
                    <li>
                        <label (click)="onSelectTag('todos')" id="lbltodos" for="todos" title="Todas">Todas</label>
                    </li>
                </ol>
                <ol>
                    <li *ngFor="let currentTag of data.tags">
                        <label for="{{currentTag}}" id="lbl{{currentTag}}" (click)="onSelectTag('#' + currentTag)" title="{{currentTag}}">{{currentTag}}</label>
                    </li>
                </ol>
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 posts">
                <ul class="list-unstyled">
                    <div class="row">
                        <div *ngIf="data?.title" class="col-12 col-sm-12 col-md-9 pb-5 pr-0 ">
                            <!--Nota - Titulo -->
                            <h1>{{data.title}}</h1>
                            <!--Nota - Titulo:fin -->
                        </div>
                    </div>
                    <li *ngFor="let item of destacado" class="post" [attr.data-category]="item.categoryData">
                        <div class="row">
                            <!--Tittle-->
                            <div>
                                <div class="container p-0 pt-2 pb-5">
                                    <!--Nota-->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-10 articleCss" style="flex: 0 0 80.121%;">
                                            <article class="{{(item?.image == undefined || item?.image == null) ? 'margintop-52' : 'margintop-7'}}">
                                                <figure *ngIf="item?.image">
                                                    <img class="img-fluid imagen" src="{{item?.image?.imageUrl}}" alt="{{item?.image?.title}}" />
                                                    <figcaption>{{item?.image?.epigraph}}</figcaption>
                                                </figure>
                                                <!--Foto:fin-->
                                                <!--Nota - Titulo -->
                                                <h1>{{item.title}}</h1>
                                                <!--Nota - Titulo:fin -->
                                                <!--Nota - Resumen -->
                                                <h6 [innerHTML]="item.summary" class="resumen"> </h6>
                                                <!--Nota - Resumen: fin -->
                                                <!--Nota - Contenido -->
                                                <div [innerHTML]="item?.text | safeHtml"></div>
                                            </article>
                                        </div>
                                    </div>
                                    <!--Nota: Fin-->
                                </div>
                            </div>
                            <!--FIN TITULO-->
                        </div>
                    </li>
                            <div class="row">
                            <li *ngFor="let item of noDestacado" class="post col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 " data-category="hoy">
                                <figure>
                                    <a *ngIf="item.link" href="{{item.link}}" target="{{selectTarget(item.linkTarget)}}" title="{{item.title}}">
                                        <img class="img-fluid imagen-beneficio" src="{{item?.image?.imageUrl}}" alt="{{item.image?.title}}" />
                                    </a>
                                    <a *ngIf="!item.link" [routerLink]="['/nota', item.id]" target="_self" title="{{item.title}}">
                                        <img class="img-fluid imagen-beneficio" src="{{item?.image?.imageUrl}}" alt="{{item.image?.title}}" />
                                    </a>
                                </figure>
                                
                                    <div *ngIf="item.percent" class="badge badge-primary">{{item.percent}}%</div>
                                    <div *ngIf="!item.percent" class="badge">&nbsp;</div>
                                    
                                    <h4 style="margin-top: 8px;">{{item.title}}</h4>
                                    <div class="beneficio-txt" [innerHTML]="item.summary | safeHtml">
                                    </div>
                                
                                <div class="caplik">
                                    <a *ngIf="item.link" href="{{item.link}}" target="{{selectTarget(item.linkTarget)}}" title="{{item.title}}">+ INFO</a>
                                    <a *ngIf="!item.link" [routerLink]="['/nota', item.id]" target="_self" title="{{item.title}}">+ INFO</a>

                                </div>
                            </li>
                        </div>
                        <p>&nbsp;</p>
                        <div *ngIf="data.contactName" class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pb-5 ">
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="font-size: 15px; line-height: 18px;">Contacto</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="font-size: 15px; line-height: 18px; font-weight: 500;">
                                                <td>{{data.contactName}}</td>
                                                <td>{{data.contactEmail}}</td>
                                                <td>{{data.contactTel}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p *ngIf="data.policy != undefined && data.policy != ''">&nbsp;</p>
                                <p *ngIf="data.policy != undefined && data.policy != ''">&nbsp;</p>
                                <div *ngIf="data.policy != undefined && data.policy != ''" class="politicas" [innerHTML]="data.policy"> </div>
                            </div>
                        </div>
                        
                        <li *ngFor="let item of data.childLists" class="post" [attr.data-category]="item.categoryData">
                            <article>
                                <div class="row">
                                    <div>
                                        <a *ngIf="item.link.includes('http') || item.link.includes('www')" href="{{item.link}}" target="{{item.linkTarget}}">
                                            <h4>{{item.name}}</h4>
                                        </a>
                                        <a *ngIf="!item.link.includes('http') && !item.link.includes('www')" [routerLink]="['/', item.link]">
                                            <h4>{{item.name}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </li>
                    
                </ul>
            </div>
        </div>
    </section>
    <!--Articles:fin-->

</div>

<ng-template #loadingBlockNews>
    <div class="container p-0 pt-2 pb-5 align-self-center ">
        <div class="loader ">Loading...</div>
    </div>
</ng-template>